.game-body
{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    user-select: none;
}

.info-game
{
    display: flex;
}

.info-game__bombs_counter
{
    display: flex;
}

.info-game__bomb-icon
{
    width: 16px;
    height: 16px;
    
    background-color: antiquewhite;
}

.mine-grid 
{
    width: auto;
    height: auto;
    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
    
    gap: 4px;
}

.mine-cell 
{
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 4px;
    outline: none;
    
    background-color: #cccdd3;

    cursor: pointer;
}

.cell-cell-discovered {background-color: transparent;}
.cell-undiscovered {background-color: #2b2b2e;}
.cell-bomb {}
.cell-flag {}

.cell-number-0 {color: transparent;}
.cell-number-1 {color: #0c08f3;}
.cell-number-2 {color: #0a8309;}
.cell-number-3 {color: #fd0b0a;}
.cell-number-4 {color: #090980;}
.cell-number-5 {color: #7e0b09;}
.cell-number-6 {color: #08837f;}
.cell-number-7 {color: #0a0a0a;}
.cell-number-8 {color: #878787;}