@page "/Game/{GameModeIndex:int}"
@inherits GameBase

<title>Game - @GameMode</title>

<div class="game-body">

    <div class="info-game">
        <div class="info-game__bomb-icon"></div>
        <p class="info-game__bomb-count">NA</p>
    </div>

    <div class="mine-grid">
        
        @for (var row = 0; row < Grid.GetLength(0); row++)
        {
            for (var col = 0; col < Grid.GetLength(1); col++)
            {
                <button class="mine-cell"></button>
            }
        }
        
    </div>
    
</div>