@page "/Game/{GameModeIndex:int}"
@using NeoMines.Model.Game
@inherits GameBase

<title>Game - @GameMode</title>

<div class="game-body">

    <div class="info-game">
        <div class="info-game__bomb-icon"></div>
        <p class="info-game__bomb-count">NA</p>
    </div>

    <div class="mine-grid">
        
        @for (var row = 0; row < Rows; row++)
        {
            for (var col = 0; col < Columns; col++)
            {
                var cellClass = "";
                var cellLogo = "";
                var cell = Grid[row, col];

                if (cell is BombCell)
                {
                    cellClass = "cell-bomb";
                    cellLogo = "💣";
                }
                
                <button class="mine-cell @cellClass">@cellLogo</button>
            }
        }
        
    </div>
    
</div>