@page "/Game/{GameModeIndex:int}"
@using NeoMines.Model.Game
@inherits GameBase
@rendermode InteractiveWebAssembly

<title>Game - @GameMode</title>

<div class="game-body">

    <div class="info-game">
        <div class="info-game__bomb-icon"></div>
        <p class="info-game__bomb-count">NA</p>
        <p>IsGameOver: @IsGameOver </p>
        <p>IsWin: @IsWin </p>
    </div>

    <div class="mine-grid">
        
        @for (var row = 0; row < Rows; row++)
        {
            for (var col = 0; col < Columns; col++)
            {
                var currentRow = row;
                var currentColumn = col;
                
                var cellClass = "";
                var cellText = "";
                var cell = Grid[row, col];

                if (!cell.IsDiscovered)
                {
                    cellClass = "cell-undiscovered";
                }
                else if (cell.HasFlag)
                {
                    cellClass = "cell-flag";
                    cellText = "🚩";
                }
                else if (cell is BombCell)
                {
                    cellClass = "cell-bomb";
                    cellText = "💣";
                }
                else if (cell is NumberCell numberCell)
                {
                    cellClass = $"cell-number-{numberCell.Number}";
                    cellText = numberCell.Number.ToString();
                }
                
                <button class="mine-cell @cellClass"
                        @onclick="() => OnButtonClick(currentRow, currentColumn)">
                    @cellText
                </button>
            }
        }
        
    </div>
    
</div>