@page "/"
@inherits HomeBase
@rendermode InteractiveWebAssembly

<PageTitle>Lobby</PageTitle>

<div class="menu">
    
    <h1 class="menu__title">NeoMines</h1>
    
    <div class="menu__logo"></div>
    
    <button class="menu__button" @onclick="() => GoToGamePage(0)">Easy</button>
    <button class="menu__button" @onclick="() => GoToGamePage(1)">Medium</button>
    <button class="menu__button" @onclick="() => GoToGamePage(2)">Hard</button>
    
</div>